.App {
    text-align: center;
    border-bottom: 10px solid orange;
}

h1 {
    border-top: 40px solid skyblue;
}

.scholar {
    outline: 1px solid gray;
    display: grid;
    grid-template-columns: 100px 200px;
}
